site_name: Phaistos
theme:
  name: material
  highlightjs: true
  hljs_languages:
    - yaml
    - python
  favicon: assets/images/favicon.ico
  palette:
    scheme: slate
    primary: black
    accent: lime
  text: Fira Sans
  code: Fira Mono
plugins:
  - mkdocstrings
nav:
  - Welcome: index.md
  - Main Features: main-features.md
  - Installation: installation.md
  - Defining a schema: schema.md
  - Transpiling into snakespeak: transpiler.md
  - Using the Validator: validator.md
markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      toc_depth: 2
